<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jayce.vexis">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.MANAGE_MEDIA"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".base.Env"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/tianji"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Secret"
        tools:targetApi="31">
        <service
            android:name=".event.ChatEventService"
            android:enabled="true"
            android:exported="true"/>

        <activity
            android:name=".utility.gomoku.GomokuActivity"
            android:exported="false" />
        <activity
            android:name=".utility.maze.MazeActivity"
            android:exported="false" />
        <activity
            android:name=".synergy.paragraph.ParagraphActivity"
            android:exported="false" />
        <activity
            android:name=".synergy.SynergyEditActivity"
            android:exported="false" />
        <activity
            android:name=".hub.HubActivity"
            android:exported="false" />
        <activity
            android:name=".member.manage.ActiveDataActivity"
            android:exported="false" />
        <activity
            android:name=".member.manage.AdminActivity"
            android:exported="false"
            android:theme="@style/adminActivityTheme" />
        <activity
            android:name=".chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".critique.FeedbackEditActivity"
            android:exported="false" />
        <activity
            android:name=".hub.resource.FileDetailActivity"
            android:exported="false" />
        <activity
            android:name=".hub.resource.FileUploadActivity"
            android:exported="false" />
        <activity
            android:name=".utility.ledger.ScoreBoard"
            android:exported="false" />
        <activity
            android:name=".member.dashboard.HomePage"
            android:exported="false" />
        <activity
            android:name=".utility.ledger.Ledger"
            android:exported="false" />
        <activity
            android:name=".Main"
            android:exported="false" />
        <activity
            android:name=".member.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".login.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>