<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jayce.vexis">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.MANAGE_MEDIA"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".core.Env"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/tianji"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Secret"
        tools:targetApi="31">
        <activity
            android:name=".business.setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".business.peer.AdviceActivity"
            android:exported="false" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <service
            android:name=".core.CreezenAccessibility"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service>
        <service
            android:name=".core.CoreService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <activity
            android:name=".business.kit.ledger.LedgerHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".business.kit.gomoku.GomokuActivity"
            android:exported="false" />
        <activity
            android:name=".business.kit.maze.MazeActivity"
            android:exported="false" />
        <activity
            android:name=".business.article.paragraph.ParagraptActivity"
            android:exported="false" />
        <activity
            android:name=".business.article.ArticleEditActivity"
            android:exported="false" />
        <activity
            android:name=".business.role.manage.ActiveDataActivity"
            android:exported="false" />
        <activity
            android:name=".business.role.manage.AdminActivity"
            android:exported="false"
            android:theme="@style/adminActivityTheme" />
        <activity
            android:name=".business.chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".business.feedback.FeedbackEditActivity"
            android:exported="false" />
        <activity
            android:name=".business.file.FileInfomationActivity"
            android:exported="false" />
        <activity
            android:name=".business.file.FileUploadActivity"
            android:exported="false" />
        <activity
            android:name=".business.kit.ledger.ScoreBoardActivity"
            android:exported="false" />
        <activity
            android:name=".business.role.dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".business.kit.ledger.LedgerSheetActivity"
            android:exported="false" />
        <activity
            android:name=".business.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".business.role.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".business.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <profileable android:shell="true"/>
    </application>

</manifest>